version: '3'
services:
  api:
    container_name: nodejs
    build: ./api
    env_file: .env
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      DATABASE_HOST: $DATABASE_HOST
      DATABASE_PORT: $DATABASE_PORT
      DATABASE_USER: $DATABASE_USER
      DATABASE_PASSWORD: $DATABASE_PASSWORD
      DATABASE_NAME: $DATABASE_NAME
    ports:
      - "5001:5000"
    depends_on:
      - postgres
    restart: always
    networks:
      - mynetwork

  web_client:
    build: ./web_client
    depends_on: 
      - api
    container_name: web-client
    ports:
      - 8081:80

  postgres:
    container_name: postgres
    image: postgres:latest
    env_file: .env
    environment:
      POSTGRES_USER: $DATABASE_USER
      POSTGRES_PASSWORD: $DATABASE_PASSWORD
      POSTGRES_DB: $DATABASE_NAME
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/postgresql/data
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

volumes:
  postgres_data:
